body {
  background-image: url(imgs/background.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
  color: white;
  overflow-x: hidden;
}


#mainNavbar {
  font-size: 1.5rem;
  font-weight: 300;
  border-top: 10px solid rgb(235, 232, 232);
  background: #202020;
  /* background: rgba(0, 0, 0, 0.7); */
}

#mainNavbar .nav-link {
  color: rgb(218, 218, 218);
  padding: 0 40px 0 40px;
}

#mainNavbar .nav-link:hover {
  color: white;
}


/* .navbar.scrolled {
  background: rgb(222, 192, 222);
  background: red;
  z-index: 1;
  transition: background 500ms;
} */


@media (max-width: 500px) {
  #mainNavbar {
    /* font-size: 1.5rem; */
    font-weight: 300;
    border-top: 10px solid rgb(235, 232, 232);
    background: #202020;
    /* background: rgba(0, 0, 0, 0.7) */
  }

  #mainNavbar .nav-link {
    color: rgb(218, 218, 218);
    padding: 0 20px 0 20px;
  }

  #mainNavbar .nav-link:hover {
    color: white;
  }

  #about h1 {
    font-size: 3rem;
  }

  #about p {
    font-size: 1rem;
  }
}

#logo {
  padding-top: 30vh;
}

#logo img {
  width: 375px;
}

#contacts {
  padding-top: 30vh;
}

#contacts img {
  width: 55px;
}

#about {
  margin-top: 25vh;
  background: rgba(0, 0, 0, 0.70);
  line-height: 2;
}

#portfolio {
  padding-top: 20px;
  background: rgba(0, 0, 0, 0.70);
  margin-top: 10vh;
  width: 90vw;
}

#portfolio .card {
  /* font-size: 1rem; */
  font-weight: 300;
}