body {
  /* background: url(imgs/background.jpeg) no-repeat center center fixed; */
  background-image: url(imgs/background.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
  color: white;
}


#mainNavbar {
  font-size: 1.5rem;
  font-weight: 300;
  background: rgba(0, 0, 0, 0.7)
}

#mainNavbar .nav-link {
  color: rgb(218, 218, 218);
  padding: 0 40px 0 40px;
}

#mainNavbar .nav-link:hover {
  color: white;
}

#about {
  margin-top: 25vh;
  background: rgba(0, 0, 0, 0.70);
  line-height: 2;
}

#logo {
  padding-top: 30vh;
}

#logo img {
  width: 375px;
}

#contacts {
  padding-top: 30vh;
}


#contacts img {
  width: 55px;
}